/*首页样式*/
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
img { border: 0 none; vertical-align: center; }
ul, li { list-style-type: none; margin:0px; padding:0px;}
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
body, input, select, button, textarea { font-size: 12px; font-family:"宋体";  }
button { cursor: pointer; }
i, em, cite { font-style: normal; }
aside section,.body{display:block; width:1000px; margin:0 auto;}
a, a:link { color: #000; text-decoration: none; }/*设置a标签基本样式与伪类选择器设置*/
a:visited {}
a:active, a:hover { text-decoration: none; color:#d00000; }
a:focus { outline: none; } 
.orange { color:#F26E01;}

.clear {
	clear:both;
}

/*========================主体样式开始*========================*/

.content {
	width:100%;
	
}


.content_bg {
	width:100%;
	min-width: 1200px;
	height:1024px;
	/*margin:0 0 0 -169px;*/
	background: url(../images/index/bg.jpg) no-repeat ;
	background-size:100% 120%;
	
}

.bg_box{
	width:1180px;
	height:700px;
	/*border:1px red solid;*/
	margin:0 auto;
}
.register {
	width:48px;
	height:156px;
	background:url(../images/index/register.jpg) no-repeat center;
	position:fixed;
	top:180px;
	right:0px;
	transition:1s;

}
.qregister {
	width:298px;
	height:430px;
	background:url(../images/index/qregister.png) no-repeat center;
	position:fixed;
	top:180px;
	right:-298px;
	transition:1s;
}
.close {
	width:37px;
	height:34px;
	background:url(../images/index/close.png) no-repeat center;
	float:right;
}
.logo {
	width:280px;
	height:109px;
	background: url(../images/index/logo.png) no-repeat center;
	margin:0 0 0 0px;
	float:left;
	
}

.nav {
	float:right;
}
.navT{
	width:777px;
	height:27px;
	background: url(../images/menu_bg.png) no-repeat center;
	margin:30px 20px 0 0;
	padding:0 0 0 0px;


}
.navT li {
	height:27px;
	line-height:27px;
	float:left;
	font-size:15px;
	margin:0 24px 0 20px;

}
.navT li:last-of-type {
	margin:0 0px 0 20px;
}
.navT li:first-of-type{
	margin:0 24px 0 32px;
}
.navT li a {
	color:#EBF3F4;
	font-weight:bold;
}
.nav1{
	width:55px;
	margin:0 0 0 149px;
	float:left;
}
.world, .profes, .gnews{
	box-shadow: 0px 0px 1px #fff;
	animation: world 3s infinite;
}

@keyframes world {
	0%{
		box-shadow: 0px 0px 1px #fff;
	}
	50%{
		box-shadow: 0px 0px  31px yellow;
	}
	100%{
		box-shadow: 0px 0px 1px #fff;
	}
}
.nav1 li, .nav2 li{
	margin:11px 0 0 0px;
}

.nav1 li a, .nav2 li a{
	color:#001122;
	font-size:12px;
}

.nav1 li:hover,.nav2 li:hover {
	background:url(../images/index/menu_li_bg.png) no-repeat  center ;
	color:#fff;
}
.nav1 li a:hover,.nav2 li a:hover {
	color:#fff;
}
.nav2 {
	width:55px;
	margin:0 0 0 53px;
	float:left;
}

.video_box {
	width:1179px;
	height:91px;
/*	border:1px red solid;*/
	float:right;
	margin:65px 0px 0 0px;
}

.video {
	width:124px;
	height:91px;
	background: url(../images/index/veido_bg.png) no-repeat center;
	float:right;
	margin:0px 52px 0 0px;


}
.video_play {
	width:109px;
	height:81px;
	background: url(../images/index/video_play.png) no-repeat right;
	margin:6px 0px 0 8px;
	/*margin: 0 auto;*/
}

.bg_bottom {
	width:366px;
	height:159px;
/*	border:1px red solid;*/
	float:right ;
	margin:183px 71px 0 0;
}
.bg_bottom a {
	display:block;
	width:200px;
	height:38px;
	background: url(../images/index/btn_down.png) no-repeat center;
	float:left;
	margin:43px 0px 21px 10px;
}
.bg_bottom img{
	display:block;
	width:102px;
	height:120px;
	background: url(../images/index/top_code.jpg) no-repeat center;
	float:right;
	margin:33px 0px 0px 0;
}

.bg_bottom p {
	float:left;
	font-size:22px;
	color:#225E72;
	font-weight:normal;
	margin:0px 0px 0px 14px;
}
.bg_bottom p span {
	font-size:22px;
	font-weight:normal;
	color:#9D0000;

}
.content_box {
	width:1180px;
	
	/*border:1px red solid;*/
	margin:0 auto;
}
.contentA {
	width:1180px;
	height:305px;
	margin:0 auto;
	
}
.contentAL{
	width:215px;
	height:305px;
	float:left;
}
.contentAdl {
	display:block;
	width:215px;
	height:116px;
	background: url(../images/index/game_download.jpg) no-repeat center;
}
.contentAdl:hover {
	background: url(../images/index/game_download_hov.jpg) no-repeat center;
}

.contentAL_l li {
	width:215px;
	
	background:#4F4D4E;
	border-bottom:solid 1px #3C3A3B;
	float:left;
}
.contentAL_l li:first-of-type{
	background:#653123;
}
.contentAL_l li  a{
	display:block;
	width:107px;
	height:46px;
	line-height:44px;
	text-align:center;
	font-size:14px;
	color:#C2BBB0;
	float:left;
}
.contentAL_l li  a:hover {
	background: url(../images/index/yellow_hov.png) no-repeat center;
}
.contentAL_l li  a span {
	display:block;
	width:7px;
	height:44px;
	margin:0px -15px 0 15px;
	background: url(../images/index/icon02.png) no-repeat  center;
	float:left;
}

.imgbox {
	width:540px;
	height:305px;
	float:left;
	overflow:hidden;
}
.contentAMid{
	width:3780px;
	height:305px;
	/*background: url(../images/index/banner1.jpg) no-repeat  center;*/
	float:left;
	position:relative;
	/*transition:0.5s;*/
	/*animation: contentAMidbgc 16s linear infinite;*/
}
.contentAMid img {
	display:block;
	float:left;
	width:540px;
	height:304px;
	
	
}
@keyframes contentAMidbgc {
	0%{
		background: url(../images/index/banner1.jpg) no-repeat  center;
	}
	20%{
		background: url(../images/index/banner2.jpg) no-repeat  center;
	}
	40%{
		background: url(../images/index/banner3.jpg) no-repeat  center;
	}
	60%{
		background: url(../images/index/banner4.jpg) no-repeat  center;
	}
	80%{
		background: url(../images/index/banner5.jpg) no-repeat  center;
	}
	100%{
		background: url(../images/index/banner6.jpg) no-repeat  center;
	}
	
}

.contentAMid_menu {
	width:540px;
	
	position:relative;
	top:265px;
}
.p1 {
	width:20px;
	height:38px;
	background: url(../images/index/btn_left.png) no-repeat  center;
	float:left;
	position: absolute;
    	top: 2px;
}
.p2 {
	width:20px;
	height:38px;
	background: url(../images/index/btn_right.png) no-repeat  center;
	float:left;
	position: absolute;
    	top: 2px;
    	right:0px;
}

.contentAMidT {
	float:left;
	position: absolute;
	left:19px;
}

.contentAMidT li{
	float:left;
	width: 99px;
    	height: 38px;
    	line-height:38px;
    	background:#4F4D4E;
    	text-align:center;
    	font-size:14px;
    	color:#fff;
    	margin:0 2px 0  0;
}
.contentAMidT table {
	float:left;
	position: absolute;

	left: 24px;
}
.contentAMidT td {
	background:#4F4D4E;
	
}
.contentAMidT .on{
	background:#643022;
}
/*.contentAMidT td:first-of-type {
	background:#643022;
}*/
.contentAMidT .not{
	
}



.contentAMidT td {
	display:block;
	width:97px;
	height:38px;
	line-height:38px;
	color:#FFFFFF;
	font-size:14px;
	text-align:center;
	float:left;
}

.contentAR{
	width:425px;
	height:304px;
	float:left;
	background:#225E72;
}

.contentAR_menu {
	height:42px;
}
.contentAR_menu ul li{
	width:70px;
	height:29px;
	background:#29697F;
	border-right:solid 1px #154559;
	float:left;
	padding: 14px 0 0 0;
}
.contentAR_menu ul li:first-of-type span {
	background:#225E72;
	color:#fff;
}
.contentAR_menu ul li:first-of-type {
	background:#225E72;
	
}
.contentAR_menu ul li span {
	display:block;
	width:68px;
	height:14px;
	line-height:14px;
	text-align:center;
	font-size:14px;
	color:#94C6D6;
}
.more {
	width:70px;
	height:29px;
	float:left;
	background:#29697F;
	padding:14px 0 0 0;
}
.more a {
	display:block;
	width:68px;
	height:14px;
	line-height:14px;
	text-align:center;
	font-size:14px;
	color:#94C6D6;
	float:left;
}
.news_title {
	display:block;
	width:360px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#EAD464;
	float:left;
	background:#154454;
	margin: 17px 0 0 33px;
}
.contentAR_news {
	width:360px;
	margin: 60px auto;
	
}
.contentAR_news a{
	display:block;
	width:350px;
	height:24px;
	line-height:24px;
	float:left;
	border-bottom:1px solid #154559;
	background:url(../images/index/news_style.png) no-repeat  left;
	margin: 0px 0 7px 0px ;
	padding: 0 0 0 10px;
}
.contentAR_news p {
	float:left;
	color:#FFFFFF;
	font-size:12px;
	margin: 0px 0 0 20px ;
}
.type {
	display:block;
	height:24px;
	line-height:24px;
	font-size:12px;
	float:left;
	color:#78A9B9;
}
.date {
	display:block;
	height:24px;
	line-height:24px;
	font-size:12px;
	float:right;
	color:#78A9B9;
}
.content_box {
	margin:40px auto;
}
.contentB {
	width:1180px;
	height:305px;
	
}
.contentBL {
	width:215px;
	height:305px;
	float:left;
}
.contentBL_top h3{
	display:block;
	width:215px;
	height:24px;
	line-height:24px;
	float:left;
}
.contentBL_top p{
	float:right;
	font-size:12px;
	font-weight:normal;
}
.contentBL_bottom {
	width:215px;
	height:280px;
	background:#E5E8ED;
	float:left;
}
.a1 {
	display:block;
	width:178px;
	height:81px;
	margin:10px auto;
	border:1px solid #000;
	background:url(../images/index/fashion.jpg) no-repeat  center;

}

.contentBL_bottom .a2 {
	display:block;
	width:180px;
	height:28px;
	line-height:28px;
	text-align:center;
	margin:5px auto 10px;
	font-size:12px;
	color:#fff;
	background: #662D2B;
}
.contentBL_bottom_hot {

}
.contentBL_bottom_hot li {
	width:50%;
	float:left;
	
}
.contentBL_bottom_hot li img {
	border:8px solid #d8d8d8;
}
.contentBL_bottom_hot li p {
	text-align:center;
	color: #272E37;
}
.contentBL_bottom_hot li p span {
	text-decoration:underline;
}

.contentBMid {
	width:522px;
	height:305px;
	
	position:relative;
	float:left;
	margin:0 20px 0 20px;
}
.contentBMid_top {

}
.contentBMid_top h3 {
	display:block;
	float:left;
	height:24px;
	line-height:24px;
}
.contentBMid_top p {
	display:block;
	float:right;
	margin:6px 0 0 150px;
}
.contentBMid_top p a {
	display:block;
	width:51px;
	height:12px;
	line-height:12px;
	text-align:center;
	color: #272e37;
	font-size:12px;
	font-weight:normal;
	border-right: #272e37 solid 1px;
	float:left;

} 
.contentBMid_top p a:first-of-type{
	color: #7f3937;
}
.contentBMid_top p a:last-of-type{
	border-right:none;
}
.contentBMid_bottom {
	width:522px;
	height:280px;
	background: url(../images/index/zy1.jpg) no-repeat  center;
	float:left;
	
	top:24px;
	z-index:100;
	transition:1s;
	
}
.contentBMid_bottom1 {
	width:522px;
	height:280px;
	background: url(../images/index/zy2.jpg) no-repeat  center;
	float:left;
	position:absolute;
	top:24px;
	transition:1s;
}
.contentBMid_bottom2 {
	width:522px;
	height:280px;
	background: url(../images/index/zy3.jpg) no-repeat  center;
	float:left;
	position:absolute;
	top:24px;
	transition:1s;
}
.contentBMid_bottom3 {
	width:522px;
	height:280px;
	background: url(../images/index/zy4.jpg) no-repeat  center;
	float:left;
	position:absolute;
	top:24px;
	transition:1s;
}
.contentBMid_bottom4 {
	width:522px;
	height:280px;
	background: url(../images/index/zy5.jpg) no-repeat  center;
	float:left;
	position:absolute;
	top:24px;
	transition:1s;
}

.contentBMid_bottom5 {
	width:522px;
	height:280px;
	background: url(../images/index/zy6.jpg) no-repeat  center;
	float:left;
	position:absolute;
	top:24px;
	transition:1s;
}

.zycolor {
	color:#7f3937;
}

.contentBMid_bottom_detail{
	width:150px;
	height:167px;
	margin:80px 0 0 320px;

}
.contentBMid_bottom_detail h4 {
	display:block;
	
	height:48px;
	line-height:48px;
	text-align:right;
	color: #40455c;
	font-size:48px;
	/*font-weight:normal;*/
	float:right;
}
.contentBMid_bottom_detail h5 {
	display:block;
	
	height:20px;
	line-height:20px;
	text-align:right;
	color: #40455c;
	font-size:20px;
	font-weight:normal;
	float:right;
}
.contentBMid_bottom_detail a {
	display:block;
	width:139px;
	height:46px;
	line-height:46px;
	text-align:center;
	color: #3c210e;
	font-size:14px;
	/*font-weight:normal;*/
	margin:40px auto 0;
	float:right;
	background: url(../images/index/btn_detail.jpg) no-repeat  center;
}
.contentBR {
	width:400px;
	height:305px;
	float:left;
	background:;
}

.contentBR_top h3{
	display:block;
	float:left;
	height:24px;
	line-height:24px;
}
.BR_top_a1 {
	display:block;
	width:72px;
	height:24px;
	line-height:24px;
	text-align:center;
	color: #7f3937;
	font-size:14px;
	font-weight:bold;
	/*border-right: #272e37 solid 1px;*/
	background:#E5E8ED ;
	float:left;
}
.BR_top_a2 {
	display:block;
	width:72px;
	height:24px;
	line-height:24px;
	text-align:center;
	color: #272e37;
	font-size:14px;
	font-weight:bold;
	background:#CCD1DB;
	float:left;
}
.contentBR_top p {
	float:right;
	margin:0 0 0 200px;
}
.BR_top_a3 {
	display:block;
	width:51px;
	height:24px;
	line-height:24px;
	text-align:center;
	color: #272e37;
	font-size:12px;
	font-weight:normal;
	
	float:right;
}
.contentBR_bottom {
	width:369px;
	height:250px;
	background:#E5E8ED ;
	float:left;
	padding:15px 16px;
}
.contentBR_bottom ul {
	
}

.contentBR_bottom img {
	width:173px;
	height:92px;
}
.contentBR_bottom_p1{
	
	height:13px;
	line-height:13px;
	text-align:center;
	color: #000;
	font-size:13px;
	font-weight:normal;
	
	
}
.contentBR_bottom_p2{
	
	height:13px;
	line-height:13px;
	text-align:center;
	color: #777575;
	font-size:13px;
	font-weight:normal;
	
	
}
.contentBR_bottom ul li {
	float:left;
	margin:0 10px 0 0;
}



/*========================主体样式结束========================*/



/*========================底部样式开始========================*/
.footer{
	width:100%;
	float:left;
}
.footerA {
	width:1180px;
	margin:0 auto;
	border-top:1px solid #B5B5B5;
}

.footerA_L {
	float:left;
}
.footerA_L img{
	width:300px;
	height:50px;
	border-right:1px solid #C5C5C5;
	margin:30px 50px 30px 1px;
	padding: 0 15px 0 0;
	float:left;
}
.footerA_L a {
	display:block;
	width:113px;
	height:45px;
	border:1px solid #000;
	background:url(../images/index/footer_logo2.png) no-repeat  center;
	float:left;

	margin:30px 10px 30px 0px;
}

.footerA_R {
	margin:15px 0 0 30px;
	float:left;
	color:#444444;
}
.footerA_R p {
	float:left;
}
.footerA_R a,.footerA_R p,.footerA_R span {
	display:block;
	height:12px;
	line-height:12px;
	font-size:12px;
	color:#444444;
	margin:0 0 10px 0;
	

}
.footerA_R a:hover{
	color:red;
}
.footerA_R .footerA_R_a a {
	float:left;
	margin:0 15px 10px 0;
}
.footerA_R_a2 {
	float:left;
	font-size:12px;
	color:#444444;
	margin:0 0 0 -100px;
}

/*========================底部样式结束========================*/